{{#if faculty}}
<button onclick="location.href='/module/{{course}}/newModule'"> New Module</button>
{{!-- <a href='/newModule'>New Module</a> --}}
{{message}}
{{/if}}
{{#if modList.length}}
{{#each  modList}}
<div><a href='/{{courseId}}/{{_id}}'>{{title}}</a></div>    

<div>{{user}}</div>
<div>{{description}}</div>
{{#if faculty}}
<button onclick="location.href='/module/{{course}}/delete/{{_id}}'">Delete</button>
{{/if}}
{{!-- <a href='/module/{{_id}}?_method=DELETE'>delete</a> --}}
<div>===================================================================</div>
{{/each}}
{{/if}}
<div>
<a href='/{{courseId}}/{{_id}}'>Back</a></div> 