<button onclick="location.href='/course/{{courseId}}'">Back</button>
{{#if faculty}}
<button onclick="location.href='/module/{{courseId}}/newModule'"> New Module</button>
{{!-- {{message}} --}}
{{/if}}

{{#if moduleList.length}}
    {{#each moduleList}}
        <div><a href='/module/detail/{{_id}}'>{{title}}</a></div>    

        <div>{{description}}</div>
        {{#if filePath}}
        <a target="_blank" href="/module/download/{{filePath}}">Download Module</a>

        
        {{/if}}
        {{#if ../faculty}}
        <form onsubmit="return confirm('Confirm?');" action="/module/detail/{{_id}}" method="post">
            <input name="method" value="delete" hidden>
            <button type="submit">Delete</button>
        </form>
        {{/if}}

    <div></div>
    {{/each}}
{{else}}
<div>No module yet</div>
{{/if}}
<div>
