<button onclick="location.href='/admin';">Back</button>
<button onclick="location.href='/logout';">Log Out</button>

<h3>Student List</h3>

{{#each students}}
    <div>
        <p>Id: {{_id}}</p>
        <p>Name: {{firstName}} {{lastName}}</p>
        <p>Email: {{emailAddress}}</p>
        <p>Gender: {{gender}}</p>
        <p>Birth Date: {{birthDate}}</p>
        <p>Major: {{major}}</p>
    </div>
{{/each}}
