<button onClick="location.href='/assignment/detail/{{assignmentId}}';">Back</button>

<h2>All Submissions</h2>

<p id="totalScore" hidden>{{totalScore}}</p>

<ul>
{{#each allSubmission}}
<li>
    <p>Student Id: {{studentId}}</p>
    <p>File address:</p>
    <a href="{{submitFile}}" target="_blank"> {{submitFile}}</a>
    {{#if scoreGet}}
     <p>Score: {{scoreGet}}</p>
     <form class="grade" onsubmit="return confirm('Confirm?');" action="/grade/detail/{{_id}}" method="post">
        <label for="assignmentId" hidden>Assignment Id: </label>
        <input name="assignmentId" value="{{../assignmentId}}"hidden>
        <label for="submissionId" hidden>Submission Id: </label>
        <input name="submissionId" value="{{_id}}" hidden>
        <label for="score"></label>
        <input class="score" type="number" name="score">
        <button type="submit">Change Score</button>
     </form>
     <div class="error" hidden>Score should be in range of 0~{{../totalScore}} </div>
    {{else}}
    <p>Score: Not Yet Graded</p>
    <form class="grade" onsubmit="return confirm('Confirm?');" action="/grade/detail/{{_id}}" method="post">
        <label for="assignmentId" hidden>Assignment Id: </label>
        <input name="assignmentId" value="{{../assignmentId}}"hidden>
        <label for="submissionId" hidden>Submission Id: </label>
        <input name="submissionId" value="{{_id}}" hidden>
        <label for="score"></label>
        <input class="score" type="number" name="score">
        <button type="submit">Grade</button>
    </form>
    <div class="error" hidden>Score should be in range of 0~{{../totalScore}} </div>

    {{/if}}
   
</li>
{{/each}}
</ul>
 
<script src="../../public/js/gradeCheck.js"></script>