{{!-- <button onclick="location.href='/assignment/{{assignmentId}}';">Back</button>
<h1>{{assignment.title}}</h1>
Due Date: {{assignment.dueDate}} at {{assignment.dueTime}}
Total Score: {{assignment.score}}
<br>
<p>{{assignment.content}}</p>
Instruction File: <a target="_blank" href="//{{assignment.file}}">{{assignment.file}}</a>

<br></br>

<button id="start-submission">Start Submission</button>
<div id="form-container"></div>
<div id="error-container" hidden></div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    
<script src="../../public/js/submitCheck.js"></script> --}}