<button onclick="location.href='/logout';">Log Out</button>

<header>
    <h1> {{title}}</h1>
</header>

<div>
    <ol>
        {{#each allCourses}}
        <div>
            <li>
                <h3>{{courseTitle}}</h3>
                <p>{{courseId}}</p>
                <p>{{description}}</p>
                <p>{{professorId}}</p>
                <p>{{professorName}}</p>
            </li>
        </div>
        {{/each}}
    </ol>

    <button onclick="location.href='/admin/createcourse';">Create a course</button>
    <a href="/admin/register">Click here to register!</a>
    
</div>