<div>
    {{courseTitle}}
</div>
<div>
    <a href='/announcement/{{courseId}}'>Announcements</a>
</div>
<div>
    <a href='/assignment/{{courseId}}'>Assignments</a>
</div>
<div>
    <a href='/submission/{{courseId}}'>Submissions</a>
</div>
<div>
    <a href='/grade/{{courseId}}'>Grades</a>
</div>
<div>
    <a href='/module/{{courseId}}'>Modules</a>
</div>