<header>
    <h1> {{title}}</h1>
</header>
<main>
    {{!-- <div>
        <h2>{{name}}</h2>

    </div> --}}
    <h2>Completed Courses</h2>
    {{#if CompletedCourses}}
    <div>  
        <ol>
            {{#each CompletedCourses}}
            <div>
                <li>
                    <h3>{{courseTitle}}</h3>
                    <p>{{courseId}}</p>
                    {{!-- <p>{{description}}</p> --}}
                    {{!-- <p>{{professorId}}</p> --}}
                    <p>{{professorName}}</p>
                </li>
            </div>
            {{/each}}
        </ol>
    </div>
    {{else}}
    <div>
        <p>No Completed Courses</p>
    </div>
    {{/if}}


    <h2>Courses In Progress</h2>
    {{#if CurrentCourses}}
    <div>  
        <ol>
            {{#each CurrentCourses}}
            <div>
                <li>
                    <h3>{{courseTitle}}</h3>
                    <p>{{courseId}}</p>
                    {{!-- <p>{{description}}</p> --}}
                    {{!-- <p>{{professorId}}</p> --}}
                    <p>{{professorName}}</p>
                    <button onclick="location.href='/course/{{_id}}';">Detail</button>
                </li>
            </div>
            {{/each}}
        </ol>
    </div>
    {{else}}
    <div>
        <p>No Course In Progress</p>
    </div>
    {{/if}}

</main>