<header>
    <h1> {{title}}</h1>
</header>
<main>
    {{!-- <div>
        <h2>{{name}}</h2>

    </div> --}}
    <div>

        <ol>
            {{#each allCourses}}
            <div>
                <li>
                    <div><a href='/courses/{{courseId}}'>{{courseTitle}}</a></div>
                    {{!-- <h3>{{courseTitle}}</h3> --}}
                    <p>{{courseId}}</p>
                    {{!-- <p>{{description}}</p> --}}
                    {{!-- <p>{{professorId}}</p> --}}
                    <p>{{professorName}}</p>
                </li>
            </div>
            {{/each}}
        </ol>
    </div>

</main>