<header>
    <h1> {{title}}</h1>
</header>

<div>
    {{courseTitle}}
</div>
<div>
    <a href='/announcement/{{courseObjectID}}'>Announcements</a>
</div>
<div>
    <a href='/assignment/{{courseObjectID}}'>Assignments</a>
</div>
<div>
    <a href='/submission/{{courseObjectID}}'>Submissions</a>
</div>
<div>
    <a href='/grade/{{courseObjectID}}'>Grades</a>
</div>
<div>
    <a href='/module/{{courseObjectID}}'>Modules</a>
</div>