<button onclick="location.href='/course';">Back</button>
<button onclick="location.href='/logout';">Log Out</button>

<div>{{error}}</div>

<header>
    <h1> {{courseTitle}}</h1>
</header>
<div>Welcome to {{courseTitle}}!</div>
<div>
    <a href='/announcement/{{courseObjectID}}'>Announcements</a>
</div>
<div>
    <a href='/module/{{courseObjectID}}'>Modules</a>
</div>
<div>
    <a href='/assignment/{{courseObjectID}}'>Assignments</a>
</div>
<div>
    <a href='/grade/{{courseObjectID}}'>Grades</a>
</div>
<div>
    <a href='/people/{{courseObjectID}}'>People</a>
</div>

{{#if student}}
<div>
    <a href='/course/{{courseObjectID}}/survey'>Give survey for the course</a>
</div>
{{/if}}

{{#if faculty}}
<div>
    <a href='/course/{{courseObjectID}}/survey'>Give survey for the course</a>
</div>
{{/if}}

{{#if admin}}
<div>
    <a href='/course/{{courseObjectID}}/survey'>View all surveys</a>
</div>
{{/if}}