<button onclick="location.href='/logout';">Log Out</button>

<header>
    <h1> {{title}}</h1>
</header>

<div>
    <ol>
        {{#each allCourses}}
        <div>
            <li>
                <h3>Course Name: {{courseTitle}}</h3>
                <p>Course CID: {{courseCID}}</p>
                <p>Description: {{description}}</p>
                <p>Professor: {{professorName}}</p>
            </li>
            <button onclick="location.href='/course/{{_id}}';">Detail</button>
        </div>
        {{/each}}
    </ol>

    <button onclick="location.href='/admin/createcourse';">Create a course</button>
    <a href="/admin/register">Click here to create Faculty account</a>
    
</div>