<button onclick="location.href='/course/{{courseId}}'"> Back</button>
<button onclick="location.href='/logout';">Log Out</button>

<h1>Student List</h1>

{{#if students.length}}
{{#each students}}
<p>Name: {{this.firstName}} {{this.lastName}}</p>
<p>Email: {{this.emailAddress}}</p>
<p>Major: {{this.major}}</p>
{{/each}}

{{else}}
<div>
    <p>No student enrolled yet</p>
</div>
{{/if}}