<button onclick="location.href='/course/{{courseObjectId}}'"> Back</button>

{{#if survey}}
<p>You have already submitted survey for this course</p>
<p>{{surveyContent.surveys.0.studentSurvey}}</p>
{{else}}
<main>
  <h2>Survey Form</h2>
  <div>{{error}}</div>
  <div id="error" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
  <form action="/course/{{courseObjectID}}/survey" method="POST" id="survey-form">
    <label for="surveyInput">
      How was this course and how has it helped you?
      <textarea type="text" name="surveyInput" id="surveyInput"></textarea>
    </label>
    <br>
    <button type="submit">Submit</button>
  </form>
</main>
<script src="../../public/js/surveyCheck.js"></script>
{{/if}}