<button onclick="location.href='/course/{{courseId}}'"> Back</button>
</br>
{{#if faculty}}
<button onclick="location.href='/announcement/{{courseId}}/newAnnouncement'"> New Announcement</button>
{{/if}}

{{#if annList.length}}
{{#each  annList}}
<div><a href='/announcement/detail/{{_id}}'>{{title}}</a></div>    
  
<div>{{createdAt}}</div>
<div>{{user}}</div>
{{!-- <div>{{description}}</div> --}}
{{#if ../faculty}}
<form onsubmit="return confirm('Confirm?');" action="/announcement/detail/{{_id}}" method="post">
    <input name="method" value="delete" hidden>
    <button type="submit">Delete</button>
</form>
{{/if}}

{{/each}}
{{else}}
<p>No announcement yet</p>
{{/if}}

