<button onclick="location.href='/course/{{courseId}}'"> Back</button>

{{#if annList.length}}
{{#each  annList}}
<div><a href='/announcement/detail/{{_id}}'>{{title}}</a></div>    
  
<div>{{createdAt}}</div>
<div>{{user}}</div>
<div>{{description}}</div>
{{!-- <button onclick="location.href='/announcement/{{courseId}}/delete/{{_id}}'">Delete</button> --}}
{{!-- <a href='/announcement/{{_id}}?_method=DELETE'>delete</a> --}}
{{/each}}
{{else}}
<p>No announcement yet</p>
{{/if}}

{{#if faculty}}
<button onclick="location.href='/announcement/{{courseId}}/newAnnouncement'"> New Announcement</button>
{{/if}}