<button onclick="location.href='/announcement/{{course}}'"> Back</button>

<h1>{{title}}</h1>

<div>
    {{date}}
</div>

<div>
    {{description}}
</div>

{{#if faculty}}
<form onsubmit="return confirm('Confirm?');" action="/announcement/detail/{{id}}" method="post">
    <input name="method" value="delete" hidden>
    <button type="submit">Delete</button>
</form>
{{/if}}



