<button onclick="location.href='/course/{{courseId}}'"> Back</button>


{{#if allStudent.length}}
<div>
    {{#each allStudent}}
    <a href="/grade/{{../courseId}}/{{this._id}}">Student: {{this.firstName}} {{this.lastName}}</a>

    {{/each}}
</div>

{{else}}
<div>
    <p>No grade exists yet</p>
</div>
{{/if}}