<button onclick="location.href='/course/{{courseId}}'"> Back</button>

{{#each allGrades}}
    <p>Student: {{this.[1]}}</p>
    <p>Score: {{this.[0]}}/100</p>
    <button onclick="location.href='/grade/{{../courseId}}/{{@key}}';"> Detail</button>
{{/each}}