<button onclick="location.href='/course/{{courseId}}'"> Back</button>

{{#if allStudent.length}}
    {{#each allStudent}}
        <a href="/grade/{{../courseId}}/{{this._id}}">Student: {{this.firstName}} {{this.lastName}}</p>
    {{/each}}
{{else}}
<p>No grades yet</p>
{{/if}}