<h2>{{course}} - Grade</h2>
{{#each allGrade}}
<div> 
    <h3>{{title}}</h3>
    {{#if scoreGet}}
        <p>Grade:{{scoreGet}}/{{score}}</p>
    {{else}}
        <p>Grade:To be Graded/{{score}}</p>
    {{/if}}
</div>
{{/each}}
<h3>Total Score: {{totalScore}} / 100</h3>