<h2>{{course}} - Grade</h2>

{{#if faculty}}
<h3>Student Name: {{student}}</h3>
{{/if}}

{{#each allGrade}}
<div> 
    <h4>{{this.[1]}}</h4>
    <p>Grade:{{this.[3]}}/{{this.[2]}}</p>
</div>
{{/each}}
<h3>Total Score: {{totalScore}} / 100</h3>