{{#if faculty}}
    <button onclick="location.href='/grade/{{courseId}}'"> Back</button>
{{else}}
    <button onclick="location.href='/course/{{courseId}}'"> Back</button>
{{/if}}

<h2>{{course}} - Grade</h2>

{{#if faculty}}
<h3>Student Name: {{student}}</h3>
{{/if}}

{{#each allGrade}}
<div> 
    <h4>{{this.[2]}}</h4>
    <p>Grade:{{this.[4]}}/{{this.[3]}}</p>
    {{#if ../faculty}}
        {{#if this.[7]}}
        <p>Comment: {{this.[7]}}</p>
        {{/if}}
    {{else}}
        {{#if this.[5]}}
            {{#if this.[6]}}
            <button class="add-comment">Edit Comment</button>
            <p>Comment: {{this.[7]}}</p>
            {{else}}
            <button class="add-comment">Add Comment</button>
            <p class="contentcomment" hidden></p>
            <div class="add-comment-form">
                <p class="assignmentId" hidden>{{@key}} </p>
                <form class="form" hidden>
                    <label for="comment">Comment: </label>
                    <textarea class="comment" name="comment"></textarea>
                    <input type="submit">
                </form>
                <div class="error" hidden>Please give valid input</div>
            </div>
            {{/if}}
        {{/if}}
    {{/if}}

</div>
{{/each}}
<h3>Total Score: {{totalScore}} / 100</h3>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script src="../../public/js/commentCheck.js"></script>
