<button onclick="location.href='/course/{{assignment.courseId}}/assignment';">Back</button>
<p>{{assignmentDetail.courseId}}</p>
<h1>{{assignment.title}}</h1>
Due Date: {{assignment.dueDate}} at {{assignment.dueTime}}
Total Score: {{assignment.score}}
<br>
<p>{{assignment.content}}</p>
Instruction File: <a target="_blank" href="//{{assignment.file}}">{{assignment.file}}</a>

{{#if faculty}}
<form onsubmit="return confirm('Confirm?');" action="/assignment/{{assignment._id}}" method="post">
    <input name="method" value="delete" hidden>
    <button type="submit">Delete</button>
</form>
<a href="/assignment/{{assignment._id}}/allSubmission">To grade all submission</a>

{{else}} {{#if submission}}
        <p>Submitted</p>
        <a target="_blank" href="//{{submission.submitFile}}">{{{submission.submitFile}}}</a>
        <button onclick="location.href='/assignment/{{assignment._id}}/newSubmission';">New Attempt</button>
    {{else}}
        <form action="/assignment/{{assignment._id}}/newSubmission" method="get">
            <button type="submit">Start Submission</button>
        </form>
    {{/if}}
{{/if }}