<button onclick="location.href='/assignment/{{assignment.courseId}}';">Back</button>
<p id="assignment-id" hidden>{{assignment._id}}</p>
<h1>{{assignment.title}}</h1>
Due Date: {{assignment.dueDate}} at {{assignment.dueTime}}
Total Score: {{assignment.score}}
<br>
<p>{{assignment.content}}</p>
Instruction File: <a target="_blank" href="//{{assignment.file}}">{{assignment.file}}</a>

{{#if faculty}}
<form onsubmit="return confirm('Confirm?');" action="/assignment/{{assignment._id}}" method="post">
    <input name="method" value="delete" hidden>
    <button type="submit">Delete</button>
</form>
<a href="/assignment/{{assignment._id}}/allSubmission">To grade all submission</a>
{{/if}}

{{#if student}}
 {{#if submission}}
            <div id="start-submission-container">
                <p>Submitted</p>
                <p>Your File Link:</p>
                <a target="_blank" href="//{{submission.submitFile}}">{{{submission.submitFile}}}</a>
                <button id="start-submission">New Attempt</button>
                <div id="form-container"></div>
                <div id="error-container" hidden></div>
            </div>
    {{else}}
        <div id="start-submission-container">
            <button id="start-submission">Start Submission</button>
            <div id="form-container"></div>
            <div id="error-container" hidden></div>
        </div>
    {{/if}}
{{/if }}

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script src="../../public/js/submitCheck.js"></script>
