<button onclick="location.href='/course/{{courseId}}'"> Back</button>

<h1>Assignment List</h1>
{{#if faculty}}
<button onclick="location.href='/assignment/{{courseId}}/newAssignment';"> New Assignment</button>
{{/if}}

{{#if assignmentList.length}}
<div>
    {{#each assignmentList}}
    <div class="assignment">
        <h2>{{title}}</h2>
        <p>Due Date: {{dueDate}} at {{dueTime}}</p>
        <p>Total score: {{score}}</p>
        <button onclick="location.href='/assignment/detail/{{_id}}';">Details</button>
    </div>
    {{/each}}
</div>

{{else}}
<div>
    <p>No assignment yet</p>
</div>
{{/if}}