<h1>Assignment List</h1>
{{#if faculty}}
<button onclick="location.href='/course/{{courseId}}/newAssignment';"> New Assignment</button>
{{/if}}

{{#if assignmentList.length}}
<div>
    {{#each assignmentList}}
    <div class="assignment">
        <h2>{{title}}</h2>
        <p>{{dueDate}} at {{dueTime}}</p>
        <p>{{score}}</p>
        <button  onclick="location.href='/assignment/{{_id}}';">Details</button>
    </div>
    {{/each}}
</div>
{{/if}}